html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden!important;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: $mainText;
    font-family: 'Montserrat', sans-serif;
    background-color: $siteBg;
    width: 100%!important;
    font-size: 1.7rem;
    position: relative;

    overflow-x: hidden!important;

}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

body.noscroll {
    overflow: auto!important;
    position: fixed;
}
h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: .5rem 0;
    color: $heroTitle;

    @mixin tablet {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
    }
}
h2 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;

    @mixin mobile-mini {
        font-size: 3rem;
    }
    @mixin laptop-small {
        font-size: 4.5rem;
        line-height: initial;
        font-weight: 700;
    }
}
h3 {
    font-weight: 600;
    font-size: 3rem;
    margin: 1rem 0;

    @mixin mobile-mini {
        font-size: 3rem;
    }
    @mixin laptop-small  {
        font-size: 4rem;
        margin-top: 0;
    }
}
h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: .5rem 0;

    @mixin mobile-mini {
        font-size: 2rem;
    }
    @mixin laptop-small  {
        font-size: 3rem;
    }
}
p {
    font-size: 1.6rem;
    margin: 0;
    font-weight: 300;
    @mixin tablet {
        font-size: 1.7rem;
    }
}
a {
    text-decoration: none;
    pointer-events: all;
    color: $mainText;
}
/* Scrollbar Firefox */
* {
    scrollbar-width: thin;
	scrollbar-color: $scrollBar $scrollTrack;
}
/* Scrollbar Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background: $scrollTrack;
}
*::-webkit-scrollbar-thumb {
	background-color: $scrollBar;
	border-radius: 20px;
}


