/* TEMP STUFF */
.spacer {
    min-height: 350px;
}
.relative {
    position: relative;
}
.hide {
    display: none;
}
.temp-block {
    padding: 10rem;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
}
/* TEMP STUFF */


/* Reusable Classes */
.hide {
    display:none;
}
.inactive-link {
    pointer-events: none;
    cursor: default;
}
.t-bold {
    font-weight: 800;
}
.p-bold {
    font-size: 1.8rem;
    font-weight: 500;
}
.center-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-h {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-right {
    object-position: right;
}
.img-left {
    object-position: left;
}
.img-top {
    object-position: top;
}
.img-bottom {
    object-position: bottom;
}

.anim-underline:after{
    content: "";
    background-color: $midBlue;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 10px;
    transition: 0.5s ease-out;
    position: absolute;
}
.anim-underline:hover:after {
    width: 100%;
}

.link-active {
    color: $midBlue;
}
