/* TEMP STUFF */
.spacer {
    min-height: 350px;
}
.relative {
    position: relative;
}
.hide {
    display: none;
}
.temp-block {
    padding: 10rem;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
}
/* TEMP STUFF */


/* Reusable Classes */
.wrapper {
    padding: 2.5rem;

    @mixin tablet {
        padding: 5rem;
    }
    @mixin laptop-small {
        padding: 10rem;
    }
    @mixin desktop {
        padding: 10rem 15rem;
    }
}
.center-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-h {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display:none;
}
.link-active {
    color: $midBlue;
}
.inactive-link {
    pointer-events: none;
    cursor: default;
}
.t-bold {
    font-weight: 800;
}
.p-bold {
    font-size: 1.8rem;
    font-weight: 500;
}
.img-right {
    object-position: right;
}
.img-left {
    object-position: left;
}
.img-top {
    object-position: top;
}
.img-bottom {
    object-position: bottom;
}


.anim-underline:after{
    content: "";
    background-color: $midBlue;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 10px;
    transition: 0.5s ease-out;
    position: absolute;
}
.anim-underline:hover:after {
    width: 100%;
}


.mr-logo {
    max-height: 100px;
    transition: .8s ease-in-out;
    display: flex;
    justify-content: center;
}
.r-letter {
    fill: #c2e0ff;
    filter: url(#drop-shadow-2);
}
.mr-triangle {
    fill: #6d4af9;
    filter: url(#drop-shadow-1);
    transition: .3s ease-in-out;
}
.mr-logo:hover .mr-triangle {
    transform-origin: 0 50%;
    transform: translateY(-5px) translateX(570px) rotate(180deg) scale(.55);
    transition: .3s ease-in-out;
}
