.site-header {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__logo {

        @mixin mobile-mini {
            min-width: 150px;
        }
        @mixin tablet {
            margin-left: 7.5rem;
        }
        @mixin laptop-small {
            width: 10%;
            min-width: 200px;
        }

        img {
            max-height: 50px;

            @mixin mobile-mini {
                max-height: 50px;
            }
            @mixin tablet {
                max-height: 60px;
            }
        }
    }

    &__nav {
        display: none;

        @mixin laptop-small {
            width: 100%;
            margin-right: 5rem;
            display: flex;
            justify-content: flex-end;
            gap: 3rem;
        }
        a {
            font-size: 2rem;
            color: $mainText;
            font-weight: 300;
            transition: .3s;
        }
        a:hover {
            color:$midBlue
        }
    }
    &__btn {

        @mixin mobile-mini {
            display: none;
        }
        @mixin tablet {
            margin-right: 7.5rem;
        }
        @mixin laptop-small {
            width: 10%;
            max-width: 200px;
        }
        a {
            font-size: 1.9rem;
            font-weight: 300;
            display: block;
        }
    }

    &__hamburger {
        display: flex;
        justify-content: center;
        z-index: 10;

        @mixin mobile-mini {
            margin-right: 2.5rem;
        }
        @mixin laptop-small {
            display: none;
        }
    }

    &__menu-icon {
        width: 30px;
        height: 30px;
        position: relative;
        right: 0;
        cursor: pointer;
        z-index: 2;
        display: flex;
        transition: all .3s ease-in-out;

        &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: $mainText;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
        }

        &__middle {
        position: absolute;
        top: 12px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: $mainText;
        transition: all .3s ease-out;
        transform-origin: 0 50%;
        }

        &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: $mainText;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
        }

        &:hover > &__middle {
        transform: translateX(5px);
        }
    }


    &__menu-icon--close-x {

        &::before {
            transform: rotate(45deg) scaleX(1.24);
        }
        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.24) translateY(1px);
        }
    }
}






.cta-btn-hello {
    background-color: $cta;
    background-size: 300% 300%;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    background-image: linear-gradient(to right, $cta 0%, $midBlue 50%, #af17cb 100%);
    padding: 1rem 2rem;
    border-radius: 4rem;
    transition: 0.5s;
    text-align: center;

    @mixin tablet {
        padding: 1.7rem 2rem;
        font-size: 1.5rem;
        min-width: 160px;
    }
}
.cta-btn-hello:hover {
    background-position: right center;
    transform: translateY(5px);
}
.animated-link {
    position: relative;
    width: fit-content;
}
.animated-link:after {
    content: "";
    background-color: $mainText;
    height: 1px;
    width: 0;
    left: 0px;
    top: -5px;
    transition: 0.4s ease-out;
    position: absolute;
}
.animated-link:hover:after {
    width: 100%;
}
a.current-page {
    color: $midBlue;
}






