.site-header {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    transition: 3.s ease-in-out;

    @mixin mobile-tiny {
        gap: 2rem;
    }

    @mixin laptop-small {
        justify-content: space-between;
        gap: unset;
    }

    &__logo {

        @mixin tablet {
            margin-left: 6rem;
        }
        @mixin laptop-small {
            width: 10%;
            min-width: 200px;
        }
        @mixin desktop {
            position: fixed;
        }

        svg {
            max-height: 90px;

            @mixin mobile-mini {
                max-height: 70px;
            }
            @mixin tablet {
                max-height: 80px;
            }
        }
    }

    &__btn {
        display: none;

        @mixin tablet {
            display: flex;
            margin-right: 4rem;
            order: 2;
            z-index: 3;
        }
        @mixin laptop-small {

            max-width: 200px;
            margin-right: 7.5rem;
        }
        a {
            font-size: 1.9rem;
            font-weight: 300;
            display: block;
        }
    }

    &__hamburger {
        display: flex;


        order: 2;
        margin-right: 3rem;

        @mixin tablet {
            justify-content: flex-end;
            width: 100%;
            order: 1;
            margin-right: 3rem;
            z-index: 3;
        }
        @mixin laptop-small {
            margin-right: 5rem;
        }
    }
}




.menu-icon {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    transition: all .3s ease-in-out;

    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: 30px;
    height: 3px;
    background-color: $mainText;
    transform-origin: 0 0;
    transition: transform .3s ease-out;
    }

    &__middle {
    position: absolute;
    top: 13px;
    left: 2px;
    width: 30px;
    height: 3px;
    background-color: $mainText;
    transition: all .3s ease-out;
    transform-origin: 0 50%;
    }

    &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 30px;
    height: 3px;
    background-color: $mainText;
    transform-origin: 0 100%;
    transition: transform .3s ease-out;
    }

    &:hover > &__middle {
    transform: translateX(-5px);
    }
}


.icon-x--active{

    &::before {
        transform: rotate(45deg) scaleX(1.30);
    }
    .menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
    }
    &::after {
        transform: rotate(-45deg) scaleX(1.30);
    }
}

.cta-btn-hello {
    background-color: $cta;
    background-size: 300% 300%;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    background-image: linear-gradient(to right, $cta 0%, $midBlue 50%, #af17cb 100%);
    padding: 1rem 2rem;
    border-radius: 4rem;
    transition: 0.5s;
    text-align: center;

    @mixin tablet {
        padding: 1.7rem 2rem;
        font-size: 1.5rem;
        min-width: 160px;
    }
}
.cta-btn-hello:hover {
    background-position: right center;
    transform: translateY(5px);
}


.sticky-header {
    position: fixed;
    top: -100px;
    left: calc((95% - 285px)/2);
    right: auto;
    min-width: 280px;
    //background-color: rgba(20, 46, 72, 0.98);
    background-color: rgba(109, 74, 249, 0.965);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4.5rem;
    border-radius: 45px;
    transition: all .3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.359);
    z-index: 4;

    @mixin tablet {
        left: calc((75% - 285px)/2);
        right: auto;
    }
    @mixin laptop-small {
        left: auto;
        right: 4rem;
        min-width: 280px;
        padding: 2rem 4rem

    }
    @mixin desktop-small {
        left: auto;
        right: 7rem;
        min-width: 350px;
        padding: 3rem 5rem;
    }

    .cta-btn-hello {

        @mixin laptop-small {
            padding: 1.4rem 2rem;
            min-width: 160px;
            font-size: 1.8rem;
        }
        @mixin desktop-small {
            padding: 2rem 4rem;
        }
    }
    &--active {
        top: 20px;
    }
}
