.content-wrapper:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $siteBg;
    opacity: .95;
    z-index: -1;

    @mixin tablet {
        opacity: .95;
    }
}


/* Hero Section */
.hero {
    padding: 5rem 2.5rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    @mixin tablet {
        flex-direction: initial;
        padding: 5rem 10rem;
    }
    @mixin laptop-small {
        flex-wrap: nowrap;
        max-width: 1350px;
        margin-top: 10rem;
    }

    &__box1 {
        display: flex;
        border-left: solid 4px #5085bb;
        border-bottom: solid 4px #5085bb;
        align-items: flex-end;

        @mixin laptop-small {
            margin-right: 2rem;
            display: flex;
            border-right: solid 7px #5085bb;
            border-bottom: solid 7px #5085bb;
            border-left: none;
            align-items: flex-end;
        }
        img {
            max-height: 180px;

            @mixin tablet {
                max-height: 250px;
            }
        }
        @mixin laptop-small {
            display: flex;
            justify-content: flex-start;
        }
    }

    .mr-standard {
        display: none;

        @mixin laptop-small {
            display: initial;
        }
    }
    .mr-flipped {
        @mixin laptop-small {
            display: none;
        }
    }

    &__box2 {
        margin-top: 2rem;

        @mixin laptop-small {
            margin-top: 0;
        }
    }
}


/* My skills Section */
.skills-wrapper {
    padding: 5rem 2.5rem;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @mixin tablet {
        padding: 5rem 10rem;
    }
    @mixin laptop-small {
        flex-direction: initial;
        padding: 20rem 2.5rem;
    }
    @mixin laptop {
        padding: 20rem 2.5rem;
        max-width: 1250px;
    }
    @mixin desktop-small {
        max-width: 1400px;
    }
}
.main-skills {
    width: 90%;
    padding: 3rem 3rem;
    background-color: rgba(20, 46, 72, 0.95);
    border-radius: 2.5rem;
    margin-bottom: -5rem;
    box-shadow: 5px 5px 30px #0d1730;
    z-index: 2;

    @mixin laptop-small {
        margin-right: -4rem;
        width: 50%;
        margin-left: 5rem;
        padding: 4rem;
        margin-bottom: 0;
    }
    @mixin laptop {
        padding: 5rem 5rem;
    }

    p {
        font-size: 2rem;
        color: $mainText;
        padding-bottom: 3rem;

        @mixin mobile-mini {
            font-size: 1.7;
        }
    }
}
.skill-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 30px;
    &__title {
        font-size: 1.5rem;

        min-width: 100px;

        @mixin laptop-small {
            width: 40%;
            font-size: 1.7rem;
        }
        @mixin laptop {
            width: 28%;
        }
    }
    &__bar {
        width: 100%;

        @mixin laptop-small {
            width: 75%;
        }
    }
}

.progress-bar {
    width: 100%;
    background-color: $barFill;
    padding: 0px;
    border-radius: 5px;
}
.progress-bar-fill1,
.progress-bar-fill2,
.progress-bar-fill3,
.progress-bar-fill4,
.progress-bar-fill5,
.progress-bar-fill6,
.progress-bar-fill7 {
    display: block;
    height: 5px;
    background-color: $red;
    border-radius: 5px;
}
.progress-bar-fill1 {
    animation: html-bar 5s normal forwards; /*width: 100%;*/
}
.progress-bar-fill2 {
    animation: css-bar 4s normal forwards; /*width: 80%;*/
}
.progress-bar-fill3 {
    animation: python-bar 3s normal forwards;/*width: 60%;*/
}
.progress-bar-fill4 {
    animation: js-bar 1.25s normal forwards;/*width: 25%;*/
}
.progress-bar-fill5 {
    animation: php-bar 1.75s normal forwards;/*width: 35%;*/
}
.progress-bar-fill6 {
    animation: mysql-bar 1.25s normal forwards;/*width: 25%;*/
}
.progress-bar-fill7 {
    animation: wpdev-bar 4.25s normal forwards;/*width: 25%;*/
}
@keyframes html-bar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes css-bar {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@keyframes python-bar {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}
@keyframes js-bar {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}
@keyframes php-bar {
    0% {
        width: 0;
    }
    100% {
        width: 35%;
    }
}
@keyframes mysql-bar {
    0% {
        width: 0;
    }
    100% {
        width: 25%;
    }
}
@keyframes wpdev-bar {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}


.other-skills {
    width: 100%;
    background-color: rgba(26, 59, 106, 0.6);
    padding: 8rem 3rem 3rem 3rem;
    border-radius: 2.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @mixin tablet {
        padding-top: 7rem;
    }
    @mixin laptop-small {
        margin: -10rem 0rem -10rem -4rem;
        width: 50%;
    }

    &__title h3 {

        @mixin laptop-small  {
            margin-bottom: 5rem;
        }
    }
    &__logos {
        width: 100%;
        margin-top: 2rem;
        &__set1,
        &__set2,
        &__set3,
        &__set4 {
            display: flex;
            justify-content: space-evenly;
            gap: 5%;

            @mixin mobile-mini {
                gap: 0;
            }
            @mixin tablet {
                gap: 2rem;
            }
            @mixin laptop-small {
                gap: 2rem;
            }
        }
        &__set1 img,
        &__set2 img,
        &__set3 img {
            max-height: 50px;
            margin: 2rem;

            @mixin mobile-mini {
                max-height: 40px;
            }

            @mixin tablet {
                max-height: 60px;
            }
            @mixin laptop-small {
                max-height: 60px;
            }
            @mixin laptop {
                max-height: 70px;
            }
        }
        &__set4 img {
            max-height: 50px;
            margin-top: 1rem;
            margin-bottom: 2rem;

            @mixin mobile-mini {
                max-height: 40px;
            }
            @mixin tablet {
                max-height: 65px;
            }
            @mixin laptop {
                max-height: 70px;
            }
        }
        &__set4 img:first-child {
            margin-left: 5rem;
            margin-top: .5rem;

            @mixin mobile-mini {
                margin-left: 1.5rem;
                margin-top: .5rem;
            }
            @mixin laptop-small {
                margin-left: 8rem;
                margin-top: 0rem;
            }
        }
        &__set1 img:first-child {
            margin-left: 0;
            margin-top: -1rem;

            @mixin laptop-small {
                margin-left: 4rem;
                margin-top: -2rem;
            }
        }
        &__set1 img:last-child {
            margin-right: -1rem;
            margin-top: -1rem;
        }
        &__set2 img:first-child {
            margin-left: -3rem;

            @mixin mobile-mini {
                margin-right: -2rem;
            }
            @mixin laptop-small {
                margin-left: 3rem;
            }
        }
        &__set2 img:last-child {
            margin-right: -5rem;

            @mixin mobile-mini {
                margin-right: -3rem;
            }
            @mixin laptop-small {
                margin-right: -5rem;
            }
        }
        &__set3 img:first-child {
            margin-left: 2rem;
            margin-top: 7rem;

            @mixin laptop-small {
                margin-left: 8rem;
                margin-top: 7rem;
            }
        }
        &__set3 img:nth-child(2) {
            margin-left: 2rem;
            margin-top: 2rem;

            @mixin laptop-small {
                margin-left: 5rem;
                margin-top: 4rem;
            }
        }
        &__set3 img:last-child {
            margin-right: 2rem;
            margin-top: 7rem;

            @mixin laptop-small {
                margin-left: 2rem;
                margin-top: 7rem;
            }
        }
        img {
            transition: .5s ease-in-out;
        }
        img:hover {
            transform: rotate(5deg) translateX(-5px);
        }
    }
}


/* My Background Section */
.background {
    padding: 5rem 2.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;

    @mixin tablet {
        padding: 5rem 10rem;
        margin-top: 15rem;
    }
    @mixin laptop-small {
        flex-direction: initial;
        padding: 20rem 10rem 10rem;
    }
    @mixin laptop {
        max-width: 1400px;
        margin-top: 0;
        padding: 10rem 10rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        order: 2;

        @mixin tablet {
            width: 100%;
        }
        @mixin laptop-small {
            order: 1;
        }
    }
    &__image {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 1;

        @mixin tablet {
            justify-content: flex-end;
            position: relative;
        }
        @mixin laptop-small {
            width: 30%;
        }
        @mixin laptop-small {
            order: 2;
        }
        @mixin laptop {

            width: 40%;
        }
        img {
            height: 250px;

            @mixin tablet {
                position: absolute;
                top: -155px;
                right: 20px;
            }
            @mixin laptop-small {
                order: 2;
                height: 400px;
                top: -260px;
                right: 20px;
            }
            @mixin laptop {
                position: initial;
            }
        }
    }
}

