.carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    /*border: solid 5px grey;*/
}
.carousel-slide {
    display: flex;
    aspect-ratio: 2 / 1;

    img {
        width: 100%;
        height: auto;
    }
}
